.swiper-pagination-bullet {
  border: 1px solid black;
  background: none;
  opacity: 1;
  width: 4px;
  height: 4px;
  margin: 0 1.5px !important;
  transition: width 0.5s;
}
.swiper-pagination-bullet-active {
  width: 12px;
  border-radius: 100px;
  background: none;
}
