@keyframes showText {
  0% {
    opacity: 0;
    z-index: auto;
  }
  99% {
    position: absolute;
  }
  100% {
    opacity: 1;
    z-index: 1;
    position: relative;
  }
}
@keyframes hideText {
  0% {
    opacity: 1;
    z-index: 1;
    position: absolute;
  }
  100% {
    opacity: 0;
    z-index: auto;
    position: absolute;
  }
}
@keyframes showForm {
  0% {
    opacity: 0;
    z-index: auto;
  }
  100% {
    opacity: 1;
    z-index: 1;
    position: absolute;
  }
}
@keyframes hideForm {
  0% {
    opacity: 1;
    z-index: 1;
    position: absolute;
  }
  100% {
    opacity: 0;
    z-index: auto;
    position: absolute;
    visibility: hidden;
  }
}

.showText {
  animation: showText 700ms forwards;
}
.hideText {
  animation: hideText 700ms forwards;
}
.showForm {
  animation: showForm 700ms forwards;
}
.hideForm {
  animation: hideForm 700ms forwards;
}
