@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  * {
    font-family: 'AT Surt';
  }
}

@font-face {
  font-family: 'AT Surt';
  src: url('https://cdn.shopify.com/s/files/1/0172/4383/2374/files/AT-Surt-Regular.woff2?v=1679587622')
    format('woff2');
  font-weight: 400; /* Regular */
}
@font-face {
  font-family: 'AT Surt';
  src: url('https://cdn.shopify.com/s/files/1/0172/4383/2374/files/AT_Surt_Medium.otf?v=1679587639')
    format('opentype');
  font-weight: 500; /* Medium */
}
@font-face {
  font-family: 'AT Surt';
  src: url('https://cdn.shopify.com/s/files/1/0172/4383/2374/files/AT-Surt-SemiBold.woff2?v=1679587633')
    format('woff2');
  font-weight: 700; /* Bold */
}
